h1{
    background-color: #43B9B2;
    background-color: rgb(13, 110, 253);
    background-color: rgb(108, 117, 125);
    background-color: rgb(25, 135, 84);
    background-color: rgb(13, 202, 240);
    background-color: rgb(255, 7, 222);
    background-color: rgb(220, 53, 69);
    background-color: rgb(248, 249, 250);
    background-color: rgb(33, 37, 41);
  
}